/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  max-widt: 800px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  max-width: 800px;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 1.75rem;
  padding: 12px;
  font-size: 2.75rem;
}
nav span {
  font-size: 2.75rem;
}
nav .home {
  font-weight: bold;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  text-align: center;
  color: white;
  border-bottom: 2px solid #C0C0C0;
  margin-bottom: 30px;
}
.title-container img {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.title-container h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bold;
}
.title-container button {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 40px;
  font-size: 2rem;
}
.artists-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 800px;
}
.artists-container .vincent {
  display: flex;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.artists-container a {
  text-decoration: none;
  color: black;
  font-size: 1.75rem;
  padding: 12px;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
}
.artists-container .bioVin {
  margin: 0 auto;
  max-width: 65%;
  text-align: center;
  font-size: 1.75rem;
}
